.social-links {
  background: rgba(248, 239, 239, 1);
}

.container-social-links {
  display: flex;
  justify-content: space-between;
}

.social-links__text h3 {
  font-weight: 700;
  font-size: 20px;
}

.social-links__text p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(134, 135, 139, 1);
  max-width: 365px;
}

.social-links__icons {
  display: flex;
  align-items: center;
  letter-spacing: 25px;
}

.social-links__icons [class^="ic-"],
[class*=" ic-"] {
  font-size: 42px;
  color: rgba(134, 135, 139, 0.7);
}

@media screen and (max-width: 600px) {
  .container-social-links {
    display: block;
    max-width: 100%;
    padding-bottom: 20px;
  }
  .social-links__text {
    margin-bottom: 30px;
  }
  .social-links__icons {
    letter-spacing: 5px;
  }
}
